[submodule "app/src/main/cpp/whisper.cpp"]
	path = vox-commander/src/main/cpp/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "vendor/openwakeword-android-kt"]
	path = vendor/openwakeword-android-kt
	url = https://github.com/Re-MENTIA/openwakeword-android-kt.git
[submodule "vendor/opencv"]
	path = vendor/opencv
	url = https://github.com/opencv/opencv.git
[submodule "vendor/paddleocr-upstream"]
	path = vendor/paddleocr-upstream
	url = https://github.com/PaddlePaddle/PaddleOCR.git
[submodule "vendor/makeacopy-upstream"]
	path = vendor/makeacopy-upstream
	url = https://github.com/egdels/makeacopy.git
[submodule "vox-commander/src/main/cpp/llama.cpp"]
	path = vox-commander/src/main/cpp/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "vendor/OpenCL-Headers"]
	path = vendor/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
